@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  color: #5b3730;
  font-family: 'Raleway', sans-serif;
}

#bg {
  background: rgb(245,245,245);
  background: linear-gradient(180deg, rgba(245,245,245,1) 0%, rgba(255,255,255,1) 100%);
}

.container-fluid{
  padding: 0;
}

.big{
  font-size: 50px;
}

.dark {
  color: #5b3730;
}

.light {
  color: white;
}

.title {
  text-align: center;
  margin-top: 15%;
  font-size: 70px;
}

.title-last {
  text-align: left;
  margin-top: 5%;
  font-size: 50px;
}

.subtitle {
  margin-top: 20%;
  text-align: center;
}

.subtitle-last {
  color: #782c20;
  margin-top: 30%;
  text-align: left;
  font-size: 25px;
}

.sg{
  color: #782c20;
  text-shadow: 2px 2px 14px #f95c43;
}

.sg-dark{
  color: #782c20;
  text-shadow: 2px 2px 14px #782c20;
}

.emph{
  font-size: 30px;
}

a:hover{
  color: black;
}